h1 {
  color: tomato;
}

body {
      background: white;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      margin: 70px 0;
    }

    .chatbar {
      background: #0060ca;
      border-top: 1px solid #0060ca;
      bottom: 0;
      display: flex;
      left: 0;
      padding: 5px;
      position: fixed;
      right: 0;
    }

    .chatbar-message,
    .chatbar-username {
      border: 1px solid #0060ca;
      display: block;
      height: 40px;
      line-height: 40px;
      margin: 5px;
      padding: 0 9px;
    }

    .chatbar-message {
      flex: 8;
      color: #0060ca
    }

    .chatbar-username {
      flex: 2;
      color: #0060ca
    }

    .message {
      display: flex;
      padding: 5px;
    }

    .message.system {
      font-style: italic;
      padding: 5px 20px;
    }

    .message-content,
    .message-username {
      overflow: hidden;
      margin: 5px;
      padding: 0 10px;
    }

    .notification,
    .notification-content {
      overflow: hidden;
      margin: 5px;
      padding: 0 5px;
      font-style: italic;
    }

    .message-content {
      flex: 8;
    }

    .message-username {
      flex: 2;
      font-weight: 700;
    }

    .navbar {
      background: #0060ca;
      border-bottom: 1px solid #0060ca;
      height: 60px;
      left: 0;
      padding: 0 10px;
      position: fixed;
      right: 0;
      top: 0;
    }

    .navbar-brand {
      color: white;
      display: block;
      float: left;
      font-weight: 700;
      font-size: 28px;
      height: 60px;
      line-height: 60px;
      padding: 0 10px;
      text-decoration: none;
    }

    .client-count {
      display: block;
      color: white;
      float: right;
      font-size: 15px;
      height: 30px;
      line-height: 30px;
      text-decoration: none;
      padding: 15px;
      font-size: 19px;
    }
